html, body {
	padding: 0;
	margin: 0;
	height: 100%;
}
canvas {
	padding: 0;
	margin: 0;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	position: absolute;
}
.page {
	background-color: #19B5FE;
	height: 100%;
	overflow: hidden;
	position: relative;
h3 {
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 60px;
	color: #B93C3F;
	left: 50%;
	top: 50%;
	padding: 0;
	margin: 0;
	position: absolute;
	transform: translate(-50%,-50%);
	z-index: 2;
}
li{
	color: white;
	list-style: none;
}
span{
	color: white;
}

}
.s_about__countdown{
	display: flex;
	align-items: center;
	height: 100vh;
	text-align: center;
}
.s_about__list{
	display: flex;
	justify-content: space-between;
	max-width: 500px;
	width: 100%;
	margin: auto;
li{
	font-size: 24px;
	font-family: "Comic Sans MS", cursive, sans-serif;
}
span{
	font-size: 72px;
	font-family: "Comic Sans MS", cursive, sans-serif;
}
p{
	position: absolute;
	top: 20%;
	width: 100%;
	left: 0;
	text-align: center;
	font-size: 40px;
	color: white;
	font-family: "Comic Sans MS", cursive, sans-serif;
}
}
